<% if @category %>
    <div class="row tracks-banner">
        <div class="user-image"> <!-- how to create conditional to apply category-specific lamp img? -->
            <%= image_tag "/logos/main_logo.png", width: "400px" %>
        </div>
    </div>
<% end %>

<%= render 'track_list' %>

