<!-- create conditionals and track listing 
    partial to replicate different views -->
    
<!--
if params[:user]
    show user page
    
elsif params[:category]
    show category pages

elsif 
-->
<% if @user %>
    <%= render 'users/user_image' %>
<% end %>

<div id="main-logo-container"><img src="logos/waveform_fake.png" alt="poetry"></div>

<%= render 'track_list' %>
