<!-- create conditionals and track listing 
    partial to replicate different views -->
    
<h1>Show Page</h1>


<!--
if params[:user]
    show user page
    
elsif params[:category]
    show category pages

elsif 
-->

<div id="main-logo-container"><img id="main-logo" src="logos/waveform_fake.png" alt="poetry"></div>

<%= render 'track_list' %>
