/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require rails_bootstrap_forms
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 

//audio {
//    width: 70%;
////    background-color: #777;
////    border: 3px solid #777;
//}

audio
    {
    width: 70%;
    cursor: pointer;
}

audio:hover {
    cursor: pointer;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background: cadetblue; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(cadetblue, #8ceaec); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(cadetblue, #8ceaec); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(cadetblue, #8ceaec); /* For Firefox 3.6 to 15 */
    background: linear-gradient(cadetblue, #8ceaec); /* Standard syntax */
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#load-more {
    background: #f8f8f8;
    border: 3px solid #777;
	border-radius:50%;
	color: #777;
	display:table;
	height: 100px;
	font-weight: bold;
	font-size: 1.2em;
	width: auto;
	margin: -1em auto 3em auto; 
    cursor: pointer;
}

#load-more span { 
    display:table-cell;
	vertical-align:middle;
	height:100px;
	width:100px;
	text-align:center;
	padding: 0 15px;
}

.navbar {
    margin: 0 0 0.5% 0;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.25em;
}

#new-user {
    width: 25%;
    margin: 0 auto;
}

.played-track {
    background-color: #777;
    cursor: not-allowed;
}

.played-track:hover {
    background-color: #777;
}

#upload-track {
    width: 20%;
    margin: 1em;
    text-align: center;
}

.track-new {
    padding: 1em 1em 0.5em 1em;
    margin-bottom: 1em;
    text-align: left;
}

 .user-image {
    display: inline-block;
    position: relative;
}

.tracks-table-container {
    width: 70%;
    border-radius: 10%;
    margin: 0 auto;
    text-align: center;
}

.tracks-table {
    background-color: #f8f8f8;
    color: #777;
    border: 3px solid grey;
    text-align: left;
    width: 100%;
    font-size: 1.25em;
}

.footer {
    background-color: #777;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 37px;
    text-align: center;
    color:  #f8f8f8; 
}


.tracks-banner {
    margin: 1em auto 0 auto;
    text-align: center;
}

.modal-footer, .modal-header {
    background-color: #f8f8f8;
    color: #777;
}

.actions {
    display: inline;
}

.row {
    margin-bottom: 1em;
}

a {
    color: black;
}

a:link { 
    color: #777;
}

a:visited { 
    color: #777;
    text-decoration: none;
}

#users-index {
    width: 70%;
    margin: 0 auto 1em auto;
}

@media only screen and (max-width: 1200px) {
   .tracks-table-container {
        width: 80%;
    }
    #users-index {
        width: 80%;
    }
    #new-user {
        width: 40%;
    }
    audio {
        width: 80%;
    }
}

@media only screen and (max-width: 900px) {
   .tracks-table-container {
        width: 87%;
    }
    #users-index {
        width: 87%;
    }
    #new-user {
        width: 55%;
    }
    audio {
        width: 87%;
    }
}

@media only screen and (max-width: 700px) {
   .tracks-table-container {
        width: 94%;
    }
    #users-index {
        width: 94%;
    }
    #new-user {
        width: 70%;
    }
    audio {
        width: 94%;
    }
}

@media only screen and (max-width: 500px) {
   .tracks-table-container {
        width: 100%;
    }
    #users-index {
        width: 100%;
    }
    #new-user {
        width: 95%;
    }
    audio {
        width: 100%;
    }
}

.table-hover {
    
}

.table-title {
    border-collapse: collapse;
    overflow-x: hidden;
}

.users-index {
    text-align: center;
    display: block;
}



#waveform {
}

#waveformTemplate {
    display: none;
}

#audio-player {
    border: 3px solid #777;
}
